In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('./../dataset/molinetes_historico.csv', nrows=100, sep=';', parse_dates=['FECHA', 'PERIODO'])

In [6]:
df.head(5)

,PERIODO,FECHA,DESDE,HASTA,LINEA,MOLINETE,ESTACION,PAX_PAGOS,PAX_PASES_PAGOS,PAX_FRANQ,TOTAL,ID
0,201701,2017-01-01,08:00:00,08:15:00,LINEA_H,LINEA_H_CASEROS_SUR_TURN02,CASEROS,1,0,0,1,1
1,201701,2017-01-01,08:00:00,08:15:00,LINEA_H,LINEA_H_CASEROS_NORTE_TURN02,CASEROS,1,0,0,1,1
2,201701,2017-01-01,08:15:00,08:30:00,LINEA_H,LINEA_H_CASEROS_SUR_TURN02,CASEROS,2,0,0,2,1
3,201701,2017-01-01,08:15:00,08:30:00,LINEA_H,LINEA_H_CASEROS_SUR_TURN01,CASEROS,1,0,0,1,1
4,201701,2017-01-01,08:30:00,08:45:00,LINEA_H,LINEA_H_CASEROS_NORTE_TURN01,CASEROS,2,0,0,2,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
PERIODO            100 non-null object
FECHA              100 non-null datetime64[ns]
DESDE              100 non-null object
HASTA              100 non-null object
LINEA              100 non-null object
MOLINETE           100 non-null object
ESTACION           100 non-null object
PAX_PAGOS          100 non-null int64
PAX_PASES_PAGOS    100 non-null int64
PAX_FRANQ          100 non-null int64
TOTAL              100 non-null int64
ID                 100 non-null int64
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 9.5+ KB