In [22]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error

In [6]:
df = pd.read_csv('./datos_intro_KNN.csv')
df.head(3)

   Clase  Magnesium  Flavanoids
0      1        127        3.06
1      1        100        2.76
2      1        101        3.24

In [8]:
X = df.drop(['Clase'], axis=1)
y = df['Clase']

In [9]:
X.shape

(178, 2)

In [10]:
X.head(2)

   Magnesium  Flavanoids
0        127        3.06
1        100        2.76

In [11]:
y.head(2)

0    1
1    1
Name: Clase, dtype: int64

In [15]:
scaler = StandardScaler()
X_norm = scaler.fit_transform(X)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=11)

In [19]:
KNN = KNeighborsClassifier(n_neighbors=7, weights='uniform')

### Se entrena em modelo con los datos de entrenamiento features: X_train, class: y_train

In [20]:
KNN.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

### La predicción se realiza usando los datos de entrenamiento (features)

In [21]:
y_predict = KNN.predict(X_train)

### Se evalua el RMSE con los datos de entrenamiento (clase de entrenamiento)

In [24]:
RMSE = np.sqrt(mean_squared_error(y_train, y_predict))

In [28]:
RMSE

0.3360107525161235

### para comprobar se evalua el modelo usando los datos de prueba (features)

In [25]:
y_test_predict = KNN.predict(X_test)

### Se evalua el RMSE usando como referencia la predicción de los datos de prueba y las clases de prueba

In [26]:
RMSE_test = np.sqrt(mean_squared_error(y_test, y_test_predict))
RMSE

0.3360107525161235