In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

# estimator
from sklearn.neighbors import KNeighborsClassifier

# Normalizer
from sklearn.preprocessing import StandardScaler

# Model selection
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [5]:
wines = pd.read_csv('datos_vinos_limpios.csv')
wines.head()

,Clase,Alcohol,Malic.acid,Ash,Alcalinity.of.ash,Magnesium,Total.phenols,Flavanoids,Nonflavanoid.phenols,Proanthocyanins,Color.intensity,Hue,OD280.OD315.of.diluted.wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**KNN no puede procesar datos nulos, se debe validar que no existan datos faltantes**

In [7]:
wines.isnull().sum()

Clase                           0
Alcohol                         0
Malic.acid                      0
Ash                             0
Alcalinity.of.ash               0
Magnesium                       0
Total.phenols                   0
Flavanoids                      0
Nonflavanoid.phenols            0
Proanthocyanins                 0
Color.intensity                 0
Hue                             0
OD280.OD315.of.diluted.wines    0
Proline                         0
dtype: int64

**Al tratarse de una clasificación, los variables categóricas deben transformarse en variables numéricas**

- En este caso no existen variables categóricas

In [9]:
wines.dtypes

Clase                             int64
Alcohol                         float64
Malic.acid                      float64
Ash                             float64
Alcalinity.of.ash               float64
Magnesium                         int64
Total.phenols                   float64
Flavanoids                      float64
Nonflavanoid.phenols            float64
Proanthocyanins                 float64
Color.intensity                 float64
Hue                             float64
OD280.OD315.of.diluted.wines    float64
Proline                           int64
dtype: object

**Se obtienen las variables independientes y la dependiente**

In [10]:
X = wines.drop('Clase', axis=1)
y = wines['Clase']

In [13]:
X[:5]

,Alcohol,Malic.acid,Ash,Alcalinity.of.ash,Magnesium,Total.phenols,Flavanoids,Nonflavanoid.phenols,Proanthocyanins,Color.intensity,Hue,OD280.OD315.of.diluted.wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [15]:
y[:5]

0    1
1    1
2    1
3    1
4    1
Name: Clase, dtype: int64

**Normalizar**

In [17]:
scaler = StandardScaler()
scaler.fit(X)
X_norm = scaler.transform(X)

**train_test_split**

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.25, random_state=11)

**Crear y entrenar modelo**

In [22]:
#KNeighborsClassifier?
neighbors = 10
KNN = KNeighborsClassifier(n_neighbors=neighbors, weights='uniform')
model = KNN.fit(X_train, y_train)

**Predecir**

In [23]:
y_predict = model.predict(X_test)

**Matriz de confusión**

In [40]:
pd.crosstab(y_test, y_predict, rownames=['Real'], colnames=['Predicted'], margins=True)

Predicted   1   2  3  All
Real
1          18   0  0   18
2           1  17  0   18
3           0   0  9    9
All        19  17  9   45

**Evaluar (Cross Validation)**

- Para el caso de un clasificador no es ideal evaluar el RMSE, debido que se trata de la eficacia de la clasificación, 
  en este caso vamos a evaluar la **precisión** (accuracy) 
  
  scores = **cross_val_score(model, X_norm, y, cv=5, scoring='accuracy')**

In [28]:
scores = cross_val_score(model, X_norm, y, cv=5, scoring='accuracy')

In [30]:
scores

array([0.89189189, 0.97222222, 0.97222222, 1.        , 0.94117647])

In [32]:
new_wines = pd.read_csv('Vinos_desconocidos.csv')
new_wines.head()

,Alcohol,Malic.acid,Ash,Alcalinity.of.ash,Magnesium,Total.phenols,Flavanoids,Nonflavanoid.phenols,Proanthocyanins,Color.intensity,Hue,OD280.OD315.of.diluted.wines,Proline
0,14.110,1.820,2.310,17.40,100.0,2.575,2.875,0.24,1.975,5.375000,1.210,2.995,1395.0
1,11.990,3.085,1.995,20.25,97.5,2.865,2.425,0.25,2.400,2.450000,0.825,2.795,443.5
2,12.485,2.710,2.300,19.25,91.0,1.320,0.500,0.44,0.685,7.699999,0.615,1.730,490.0

In [37]:
#X_new = new_wines.drop(['Clase'], axis=0)
X_new_norm = scaler.transform(new_wines)
y_predict_new = model.predict(X_new_norm)
y_predict_new

array([1, 2, 3], dtype=int64)