In [10]:
import pandas as pd
import numpy as np

<font size='5'>Creating FataFrame from a Dictionary</font>

In [3]:
# Creating a DataFrame from a Dictionary
data_dict = {
                'weekday': ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                 'city': ['Austin', 'Dallas', 'San Francisco', 'Miami', 'Boston', 'Chicago', 'New York'],
                'visitors': [139, 209, 89, 120, 34, 102, 77],
                'signups': [5, 8, 19, 3, 20, 32, 65]
             }

users = pd.DataFrame(data_dict)

print(users)

            city  signups  visitors    weekday
0         Austin        5       139     Sunday
1         Dallas        8       209     Monday
2  San Francisco       19        89    Tuesday
3          Miami        3       120  Wednesday
4         Boston       20        34   Thursday
5        Chicago       32       102     Friday
6       New York       65        77   Saturday

<Font size='5'>Creating a DataFrame from a List of List (Dictionary) </font>

In [5]:
cities = ['Austin', 'Dallas', 'San Francisco', 'Miami', 'Boston', 'Chicago', 'New York']
signups = [5, 8, 19, 3, 20, 32, 65]
visitors = [139, 209, 89, 120, 34, 102, 77]
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
# column labels and cols
labels = ['city', 'signups', 'visitors', 'weekday']
list_cols =[cities, signups, visitors, days]
# Using python list and zip functions
zipped = list(zip(labels, list_cols))
#creating a dictionary
data = dict(zipped)
# creating the DataFrame
users = pd.DataFrame(data)
print(users)

            city  signups  visitors    weekday
0         Austin        5       139     Sunday
1         Dallas        8       209     Monday
2  San Francisco       19        89    Tuesday
3          Miami        3       120  Wednesday
4         Boston       20        34   Thursday
5        Chicago       32       102     Friday
6       New York       65        77   Saturday

<font size='5'>Broadcasting</font>
#### Adding a new column using broadcasting saves times and efforts creating list of dictionaries

In [6]:
users['fees'] = 0
print(users)

            city  signups  visitors    weekday  fees
0         Austin        5       139     Sunday     0
1         Dallas        8       209     Monday     0
2  San Francisco       19        89    Tuesday     0
3          Miami        3       120  Wednesday     0
4         Boston       20        34   Thursday     0
5        Chicago       32       102     Friday     0
6       New York       65        77   Saturday     0

<font size='5'>Broadcasting with Dictionaries</font>
#### The column 'sex' will be broadcasted to the whole DataSet

In [7]:
heights = [59.0, 65.2, 62.9, 65.4, 63.7, 57.4, 64.1]
data = {'height':heights, 'sex': 'M'}

results = pd.DataFrame(data)
print(results)

   height sex
0    59.0   M
1    65.2   M
2    62.9   M
3    65.4   M
4    63.7   M
5    57.4   M
6    64.1   M

<font size='5'>Chaging the column and row indexes on a DataSet</font>

In [8]:
results.columns = ['height (inches)', 'sex']
results.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
print(results)

   height (inches) sex
A             59.0   M
B             65.2   M
C             62.9   M
D             65.4   M
E             63.7   M
F             57.4   M
G             64.1   M

<font size='5'>iloc vs loc</font>
- #### loc gets rows (or columns) with particular labels from the index.
- #### iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

In [11]:
my_serie = pd.Series(np.nan, index=[49,48,47,46,45,1,2,3,4,5])
my_serie

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [12]:
# iloc returns the firts 3 rows since is index based 
iloc = my_serie.iloc[:3]
print(iloc)

49   NaN
48   NaN
47   NaN
dtype: float64

In [13]:
# loc returns all the entries from the label 3, it treats '3' as a label
loc = my_serie.loc[:3]
print(loc)

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64